<div class="card mt-1 bg-dark text-info">
  <div class="card-body">
    <p class="card-text">{{comment_text}}</p>
    <small class="col-md-4 ms-auto text-end text-white">Comment By {{user.username}} on {{createdAt}}</small>
  </div>
 </div>