        <div id="dash-post-{{post_id}}" class="card mt-4 bg-info text-white">
            <div class="card-header container">
              <div class="row align-items-center">
                <a class="nav-link col-md-5"href="../dashboard/{{post_id}}">{{post_title}}
                </a>
                <small class="col-md-4 ms-auto text-end">{{timestamp}}</small>
              </div>
            </div>
        </div>