        <div class="card mt-4 bg-info text-white">
            <div class="card-header container">
              <div class="row align-items-center">
                <div class="col-md-5">{{post_title}}
                </div>
                <small class="col-md-4 ms-auto text-end">{{timestamp}}</small>
              </div>
            </div>
        </div>