<nav class="nav px-4 p-2">
    <a class="nav-link link-info" href="../">Home</a>
    <a class="nav-link link-info" href="../dashboard">Dashboard</a>
    <a class="nav-link link-info" href="../logIn">Login</a>
    <a class="nav-link link-info visually-hidden" href="#">Logout</a>
    <div class="container">
     <div class="row">
        <h1 class="display-3 col-md-0 ms-auto pb-2 text-white">Blog-Me</h1>
      </div>
    </div>
</nav>