{{> nav}}
<div class="container">
    <div class="card mt-4 bg-info text-white">
          <div class="card-header container">
            <div class="row align-items-center">
              <div class="col-md-4">Edit Post
              </div>
            </div>
          </div>
          <div id="{{post.id}}" class="card-body">
            <form>
              <div class="mb-3">
                <label class="form-label">Title</label>
                <textarea type="username" class="form-control" id="input-title" rows="1">{{post.post_title}}</textarea>
              </div>
              <div class="mb-3">
                <label class="form-label">Content</label>
                <textarea class="form-control" id="input-content">{{post.post_text}}</textarea>
              </div>
            </form>
            <button id="update-post" class="btn btn-secondary" style="width:100%">Update Post!</button>
            <button id="delete-post" class="btn btn-danger mt-2" style="width:100%">Delete</button>
          </div>
        </div>
</div>
<footer class="mt-5"></footer>
<script defer src="/js/dashPostHandler.js"></script>