      {{> nav}}
      <div class="container">
        {{#each userPosts as |userPost|}}
          {{> dashCard}}
          {{/each}}
      </div>
      <footer class="mt-5 mb-5 container text-center">
        <a type="button" class="btn btn-success btn-lg col align-self-center" href="../dashboard/newPost">+ New Post</a>
      </footer>