      {{> nav}}
      <div class="container">
        <div class="card mt-4 bg-info text-white">
            <div class="card-header container">
              <div class="row align-items-center">
                <div class="col-md-4">Object Relational Mapping
                </div>
                <small class="col-md-4 ms-auto text-end">5/8/2020</small>
              </div>
            </div>
        </div>
        <div class="card mt-4 bg-info text-white">
          <div class="card-header container">
            <div class="row align-items-center">
              <div class="col-md-4">Edit Post
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="InputUser" class="form-label">Title</label>
                <input type="username" class="form-control" id="inputUser" aria-describedby="emailHelp" placeholder="Object Relational Mapping">
              </div>
              <div class="mb-3">
                <label for="inputPassword" class="form-label">Content</label>
                <textarea class="form-control" id="inputPassword">I have really loved learning about ORMs. It's really simplified the way I create queries in SQL!</textarea>
              </div>
              <button type="submit" class="btn btn-secondary" style="width:100%">Update Post!</button>
              <button type="submit" class="btn btn-danger mt-2" style="width:100%">Delete</button>
            </form>
          </div>
        </div>
        <div class="card mt-4 bg-info text-white">
          <div class="card-header container">
            <div class="row align-items-center">
              <div class="col-md-4">Create New Post
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="InputUser" class="form-label">Title</label>
                <input type="username" class="form-control" id="inputUser" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="inputPassword" class="form-label">Content</label>
                <textarea class="form-control" id="inputPassword"></textarea>
              </div>
              <button type="submit" class="btn btn-secondary" style="width:100%">Create</button>
            </form>
          </div>
        </div>
      </div>
      <footer class="mt-5 mb-5 container text-center">
        <button type="button" class="btn btn-success btn-lg col align-self-center">+ New Post</button>
      </footer>