{{> nav}}
<div class="container">
    <div class="card mt-4 bg-info text-white">
          <div class="card-header container">
            <div class="row align-items-center">
              <div class="col-md-4">Edit Post
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="InputUser" class="form-label">Title</label>
                <input type="username" class="form-control" id="inputUser" aria-describedby="emailHelp" placeholder="{{post.post_title}}">
              </div>
              <div class="mb-3">
                <label for="inputPassword" class="form-label">Content</label>
                <textarea class="form-control" id="inputPassword">{{post.post_text}}</textarea>
              </div>
              <button type="submit" class="btn btn-secondary" style="width:100%">Update Post!</button>
              <button type="submit" class="btn btn-danger mt-2" style="width:100%">Delete</button>
            </form>
          </div>
        </div>
</div>
<footer class="mt-5"></footer>