<p>Hello from ./views/home.handlebars</p>

<div class="input-group">
  <span class="input-group-text">With textarea</span>
  <textarea id="comment-box" class="form-control" aria-label="With textarea"></textarea>
</div>
<button id="submit-button" type="button" class="btn btn-secondary btn-sm">Submit</button>