{{> nav}}
<div class="container">
  {{#each posts as |post|}}
    {{> postCard}}
    {{/each}}
        <div class="card mt-4 bg-info text-white">
          <div class="card-header container">
            <div class="row align-items-center">
              <div class="col-md-4">Why MVC is so important
              </div>
              <small class="col-md-4 ms-auto text-end">Posted By Xandromus on 5/8/2020</small>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-black">MVC allows developers to maintain a true sepration of concerns, devising their code between the Model layer for data, the view layer for design, and the Controller layer for application logic.</p>
          </div>
        </div>

        <div class="card mt-4 bg-info text-white">
          <div class="card-header container">
            <div class="row align-items-center">
              <div class="col-md-4">Why MVC is so important
              </div>
              <small class="col-md-4 ms-auto text-end">Posted By Xandromus on 5/8/2020</small>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-black">MVC allows developers to maintain a true sepration of concerns, devising their code between the Model layer for data, the view layer for design, and the Controller layer for application logic.</p>
          </div>
        </div>
        <div class="card mt-4 bg-info text-white">
          <div class="card-header container">
            <div class="row align-items-center">
              <div class="col-md-4">Why MVC is so important
              </div>
              <small class="col-md-4 ms-auto text-end">Posted By Xandromus on 5/8/2020</small>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-black">MVC allows developers to maintain a true sepration of concerns, devising their code between the Model layer for data, the view layer for design, and the Controller layer for application logic.</p>
          </div>
        </div>
        <div class="card mt-4 bg-info text-white">
          <div class="card-header container">
            <div class="row align-items-center">
              <div class="col-md-4">Comment
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <textarea type="input" class="form-control span4" id="inputPassword"></textarea>
              </div>
              <button type="submit" class="btn btn-secondary" style="width:100%">Submit</button>
            </form>
          </div>
        </div>
      </div>
    <footer class="mt-5"></footer>