{{> nav}}
      <div class="container">
        <div class="card mt-4 bg-info text-white">
          <div class="card-header container">
            <div class="row align-items-center">
              <div class="col-md-4">Login
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="InputUser" class="form-label">Username</label>
                <input type="username" class="form-control" id="user-input" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-input">
              </div>
              <button id="login-button" type="submit" class="btn btn-secondary" style="width:100%">Login!</button>
              <a class="nav-link" href="../signUp">Sign up instead</a>
            </form>
          </div>
        </div>
      </div>
      <footer class="mt-5"></footer>
      <script src="/js/logIn.js"></script>