{{> nav}}
<div class="container">
            <div class="card mt-4 bg-info text-white">
          <div class="card-header container">
            <div class="row align-items-center">
              <div class="col-md-4">Create New Post
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label class="form-label">Title</label>
                <input class="form-control" id="input-title">
              </div>
              <div class="mb-3">
                <label class="form-label">Content</label>
                <textarea class="form-control" id="input-body"></textarea>
              </div>
              <button id="new-post" type="submit" class="btn btn-secondary" style="width:100%">Create</button>
            </form>
          </div>
        </div>
</div>
<footer class="mt-5 mb-5 container text-center"></footer>
<script defer src="/js/newPostHandler.js"></script>